[submodule "third_party/sparsehash"]
	path = third_party/sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "third_party/libcuckoo"]
	path = third_party/libcuckoo
	url = https://github.com/efficient/libcuckoo.git
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third_party/libbf"]
	path = third_party/libbf
	url = https://github.com/mavam/libbf.git
	branch = master
